*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    outline: none;
    border: none;
    overflow-x: hidden;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: white;
}
::-webkit-scrollbar-thumb{
    background-color: hsl(352, 76%, 55%);
    border-radius: 2rem;
}
html{
    font-size: 16px;
    color: white;
}
header{
    position:fixed ;
    font-weight: bold;
    width: 100vw;
    height: 60px;
    background-color:hsl(352, 76%, 55%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
header p{
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    transition: .5s linear;
    animation: slideRight 1s ease forwards;
}
@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
header .navbar{
    display: inline-block;
    font-size: 1.2rem;
}
header .navbar a{
    text-decoration: none;
    color: white;
    padding: 0 30px;
    text-transform: capitalize;
    text-align: center;
}
.menu{
    display: none;
    margin-right: 30px;
}
.dropdown{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 60px;
    left: 0;
    height: 90vh;
    justify-content: center;
    align-items: center;
    width: 250px;
    background-color:  hsl(352, 76%, 55%);;
    backdrop-filter: blur(10px);
    box-shadow: 3px 3px 15px rgb(40, 36, 36);
    visibility: hidden;
    text-transform: capitalize;
    transition: .5s ease;
    z-index: 100;
}
.dropdown a{
    text-decoration: none;
    font-size: 30px;
    padding: 30px 0;
    margin-right: 20px;
    color: white;
}
.close{
    display: none;
    margin-right:30px ;
}
@media  (max-width: 800px){
    .navbar a{
        display: none;
    }
    .menu{
        display: block;
    }
}
@media  (min-width: 800px){
    .dropdown{
        visibility: hidden;
    }
    .close{
        display: none;
    }
}
.home{
    width: 100vw;
    height: 100vh;
    background-color:whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    color: black;
} 
.home_content{
    margin: 0em 2em;
    line-height: 2em;
}   
.home_content h3{
   font-size: 1.2rem;
   font-weight: bold;
   animation: slideLeft 1s ease-in-out forwards;
}
span{
    color: hsl(352, 76%, 55%);
    font-size: 1.2rem;
}
.home_content h1{
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 1.3;
    transition: 1s ease-in-out;
    animation: slideRight 1s ease forwards;
}
.home_content p{
    font-size: 1.2rem;
    max-width: 60ch;
    animation: slideDown 1s ease-in forwards;
}
.home .ima img{
    width: 25vw;
    border-radius: 3em;
    margin-top: 3em;
    margin-right: 4em;
    animation: image 4s ease-in-out infinite;
}
@keyframes image{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes slideDown{
    0%{
        transform: translatey(100px);
        opacity: 0;
    }
    100%{
        transform: translatey(0px);
        opacity: 1;
    }
}
@keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@media  (max-width:1000px){
    .home_content p{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
    }
}
.home_content .social_icons a{
    font-size: 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background-color: hsl(352, 76%, 55%);
    border: .2rem solid white ;
    border-radius: 50%;
    margin: 1rem 1.5rem 1rem 0;
    transition: 1s ease;
    color: white;
    text-decoration: none;
    animation: slideTop 1.5s ease-out forwards;
}
@keyframes slideTop{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translatey(0px);
        opacity: 1;
    }
}
.home_content .social_icons a:hover{
    background-color: white;
    color: red;
    box-shadow: 0 0 2em hsl(0, 95%, 36%);;
}
.but{
    display: inline-block;
    justify-content: center;
    align-items: center;
    animation: slideLeft 2s ease forwards;
}
button{
    font-size: 1.2rem;
    padding: 1em 2em;
    margin: 1em;
    border: .2rem solid hsl(352, 76%, 55%);;
    background-color: transparent;
    color:hsl(352, 76%, 55%);
    border-radius: 2rem;
    font-weight: bold;
}
button:hover{
    background-color:hsl(352, 76%, 55%);
    color: white;
    box-shadow: 0 0 2em hsl(352, 76%, 55%);
}
.about{
    width: 100vw;
    height: 100vh;
    background-color:whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    color: black;
}
.about .img img{
    width: 30vw;
    border-radius: 2rem;
}
.about_content h1{
    font-size: 2rem;
    color:  hsl(352, 76%, 55%);;
    font-weight: bold;
    text-align: left;
    margin-bottom: .2em;
}
.about_content h3{
    font-size: 1.7rem;
    font-weight: bold;
    text-align: left;
    margin-bottom: .2em;
}
.about_content p{
    font-size: 1.2rem;
    line-height: 1.5em;
    font-weight: lighter;
    text-align: left;
    max-width: 50ch;
    margin-bottom: .2em;
}
.myskills{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    background-color:whitesmoke;
    padding-top: 2em;
    color: hsl(352, 76%, 55%);;
}    
.skills{
    width: 100vw;
    height: 90vh;
    background-color:whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    color: black;
}
.skills .skill_content{
    border: .2em solid hsl(352, 76%, 55%);
    padding: 2em;
    border-radius: 2em;
    background-color: #f9fafb;
}
.skills .skill_content .bars p{
    font-size: 2rem;
    color: rgb(11, 11, 11);
}
.skill_content p i{
    font-size: 2rem;
    scrollbar-width: none;
    text-align: center;
    padding: .4em 0 0 0;
}
.skill_content #html{
    color: rgb(217, 70, 2);
}
.skill_content #css{
    color: blue;
}
.skill_content #js{
    color: yellow;
}
.skill_content #python{
    color: rgb(0, 217, 255);
}
.skill_content span{
    font-size: 1.5rem;
    padding-right: .7em;
    color: black;
}
.skill_content .bar{
    width: 350px;
    height: .5em;
    border-radius: 2em;
    background-color: white;
}
.bar div{
    position: relative;
    display: block;
    background-color:hsl(352, 76%, 55%);
    top: 0;
    left: 0;
    height: .5em;
    border-radius: 2em;
    animation: animat 5s ease-in-out 1;
}
.bar .progress-html{
    width: 85%;
}
.bar .progress-css{
    width: 60%;
}
.bar .progress-js{
    width: 65%;
}
.bar .progress-python{
    width: 80%;
}
@keyframes animat {
    from{
        width: 0;
    }
}
.projects{
    width: 100vw;
    height: 100%;
    background-color:whitesmoke;
}
.projects h1{
    font-size: 2rem;
    text-align: center;
    padding-top: 2em;
    font-weight: bold;
    color: hsl(352, 76%, 55%);;
}
.projects .project_content{
    margin: 0 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 2em 2em;
    color: black;
}
.project_content .project_1{
    border: .2em solid hsl(352, 76%, 55%);
    border-radius: 2em;
    text-align: center;
    padding: 1em;
}
.projects .project_content img{
    width: 20vw;
    border: .2em solid hsl(352, 76%, 55%);
    opacity: .5;
    z-index: 0;
    transition:  opacity .3s , width .3s;
}
.projects .project_content img:hover{
    opacity: 1;
    width: 24vw;
    border-color: grey;
    box-shadow: 0 0 2em grey;
}
.project_content .project_1 p{
    font-size: 1rem;
    font-style: oblique;
    font-weight: lighter;
}
.project_content #but{
    font-size: .7em;
    font-weight: lighter;
    font-style: italic;
    margin: 1em 0 0 0;
}
.contact{
    width: 100vw;
    height: 100vh;
    background-color:whitesmoke;
}
.contact h1{
    color: hsl(352, 76%, 55%);;
    font-size: 2rem;
    text-align: center;
    padding-top: 2em;
    font-weight: bold;
}
.contact form{
    text-align: center;
    margin: 3em ;
}
.contact form input{
    margin: 1em .5em .5em ;
    width: 20vw;
    font-size: 1rem;
    padding: 1em;
    background-color: hsl(352, 76%, 55%);
    color: hsl(0, 12%, 97%);
    font-weight: lighter;
    font-style: oblique;
    text-align: left;
    border-radius: .3em;
}
.contact form input::placeholder ,
.contact form textarea::placeholder{
    font-style: oblique;
    font-weight: lighter;
    font-size: 1rem;
    color: hsl(0, 36%, 96%);
}
.contact form textarea{
    margin: 1em .5em;
    width: 41vw;
    background-color: hsl(352, 76%, 55%);
    font-weight: lighter;
    font-size: 1rem;
    font-style: italic;
    text-align: left;
    padding: 1em;
    color: hsl(0, 24%, 93%);
    border-radius: .4em;
}
.contact form button{
    font-size: 1rem;
    padding: 1em 4em;
    background-color: hsl(352, 76%, 55%);
    color: hsl(0, 5%, 96%);
    border: none;
    cursor: pointer;
    transition: .5s ease;
    box-shadow: none;
}
.contact form button:hover{
    box-shadow: 0 0 2em  hsl(352, 87%, 53%);
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 60px;
    background-color:hsl(352, 76%, 55%);
}
footer .footer_text p{
    font-size: 1.5rem;
    font-weight: bold;
    font-style: oblique;
    padding: 0 0 0 2em;
}
footer .arrow {
    font-size: 1.5rem;
    margin-right: 2em;
    border-radius: .8rem;
    padding: .2em .5em;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    transition: .5s ease;
}
.arrow a i{
    text-decoration: none;
    color: hsl(352, 76%, 55%);
}
.arrow:hover{
    box-shadow: 0 0 3em rgb(255, 255, 255);
}
@media (max-width:788px){
    .home_content h1{
        font-size: 1.5rem;
    }
    .home_content h3{
        font-size: .7rem;
    }
    .home{
        flex-direction: column;
    }
    .home_content .social_icons a{
        font-size: .7rem;
        width: 1.5rem;
        height: 1.5rem;
        border: .1rem solid white ;
        margin: .5rem 1.5rem .5rem 0;
    }
    .home_content .but button{
        font-size: .5rem;
        
    }
    .home .ima img{
        width: 30vw;
        margin-top: 3em;
    }
    .about{
        flex-direction: column;
    }
    .about .img img{
        width: 50vw;
        border-radius: 2rem;
    }
    .about_content h1{
        font-size: 1.5rem;
        text-align: center;
    }
    .about_content h3{
        font-size: 1.2rem;
        text-align: center;
    }
    .about_content p{
        font-size: 1rem;
        text-align:center;
        max-width: 48ch;
    }
    .about .about_content button{
        font-size: .7rem;
        text-align: center;
        margin-left: 9rem;
    }
    .project_content img{
        width: 10vw;
    }
    .project_content .project_1 p{
        font-size: .5rem;
    }
    .project_content #but{
        font-size: .2rem;
    }
    .contact form .input input ,
    .contact form .input_box input ,
    .contact form textarea
    {
        width: 80vw;
    }
    .contact form input,.contact form textarea{
        font-size: .5rem;
        padding: 2em ;
        margin: 2em 0;
    }
    footer .footer_text p{
        font-size: 1rem;
    }
}
@media (max-width:900px) {
    .project_content .project_1 img{
        width: 100%;
    }
    .project_content .project_1 p{
        font-size: 1rem;
    }
    .project_content #but{
        font-size: .7rem;
    }
    .project_content .project_1 img:hover{
        opacity: 1;
        width: 90%;
        border-color: grey;
        box-shadow: 0 0 2em grey;
    }
}





